<!-- <div id="main-container" class="container">
	<div class="row">
		<div id="sidebar" class="col-xs-3">
		</div>
		<div id="content" class="col-xs-9">
		</div>
	</div>
</div>
-->


<button class="col-md-4 col-xs-12">
	<%= link_to "logout", :controller=> "authentication", :action=> "logout" %>
</button>

<h1>
	Hello, <%= current_user().name %>
</h1>

<%= link_to "View Articles", "articles"%>